[submodule "3rd-party/outcome"]
	path = 3rd-party/outcome
	url = https://gitlab.com/pepnext/3rd-party/outcome
[submodule "3rd-party/magic_enum"]
	path = 3rd-party/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "3rd-party/elfio"]
	path = 3rd-party/elfio
	url = https://gitlab.com/pepnext/3rd-party/elfio
[submodule "3rd-party/fmt"]
	path = 3rd-party/fmt
	url = https://gitlab.com/pepnext/3rd-party/fmt
