[submodule "3rd-party/elfio"]
	path = 3rd-party/elfio
	url = https://github.com/Matthew-McRaven/ELFIO
[submodule "3rd-party/zpp_bits"]
	path = 3rd-party/zpp_bits
	url = https://github.com/eyalz800/zpp_bits.git
[submodule "3rd-party/KDDockWidgets"]
	path = 3rd-party/KDDockWidgets
	url = https://github.com/Matthew-McRaven/KDDockWidgets
