.wy-nav-content {
    max-width: 3600px !important;
    /*max-width: none !important;*/
}
.wy-nav-content {
    min-height: 3600px !important;
    /*max-width: none !important;*/
}
div.footer {
    width: 20%;
    margin: auto;
}
