[submodule ".scripts"]
	path = .scripts
	url = https://gitlab.com/pepnext/scripts.git
[submodule ".cmake"]
	path = .cmake
	url = https://gitlab.com/pepnext/config/cmake-scripts.git
[submodule ".gitlab"]
	path = .gitlab
	url = https://gitlab.com/pepnext/config/ci.git
[submodule "3rd-party/magic_enum"]
	path = 3rd-party/magic_enum
	url = https://gitlab.com/pepnext/3rd-party/magic_enum.git
[submodule "3rd-party/catch"]
	path = 3rd-party/catch
	url = https://gitlab.com/pepnext/3rd-party/catch.git
