.MapConverter {
  // FIXME: Fonts don't render control characters.
  font-family: 'Courier New', Courier, monospace;
  input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    outline: none;
    caret-color: transparent;
  }
  input:hover {
    cursor: default;
  }
  input:focus{
    cursor: default; 
  }
}
