name: Build python package
on:
  workflow_call:
    inputs:
      os: { required: True, type: string }
      python_version: {  type: string, default: '3.12' }
      artifact_key: { type: string, default: '' }

jobs:
  matrix_build:
    name: ${{ inputs.os }}; py${{ inputs.python_version }}
    runs-on: ${{ inputs.os }}
    steps:
      - name: Checkout source code (shallow)
        uses: actions/checkout@v4
        with:
          submodules: recursive
          lfs: 'false' # LFS defaults to disabled, but accidental LFS bandwidth would be bad.
      - name: Install specific python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python_version }}
      - run: python -m pip install cibuildwheel==3.3.1
      - name: build wheel
        run: python -m cibuildwheel --output-dir wheelhouse
        env:
          CIBW_SKIP: "cp3??t-*" #Ignore free-threaded builds because we use limited API
          CIBW_BUILD: "cp312-*"
          CIBW_ARCHS: "auto64"
          # Do not use ninja on Windows, else it starts to use the MinGW compiler toolchain.
          CIBW_ENVIRONMENT_WINDOWS: >
            CMAKE_ARGS=-DCMAKE_BUILD_TYPE=Release
          CIBW_ENVIRONMENT_LINUX: >
            CMAKE_ARGS=-DCMAKE_BUILD_TYPE=Release
            CMAKE_GENERATOR=Ninja
          CIBW_ENVIRONMENT_MACOS: >
            CMAKE_ARGS=-DCMAKE_BUILD_TYPE=Release
            CMAKE_GENERATOR=Ninja

      - uses: actions/upload-artifact@v4
        if: ${{ inputs.artifact_key != '' }}
        with:
          name: ${{ inputs.artifact_key }}
          path: ./wheelhouse/*.whl
          retention-days: 1
